/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de_swiss.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYMBOLS 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and symbols

    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
        mo_tog: mo_tog {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TOG";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        home_row_shift: home_row_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOME_ROW_SHIFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <130>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";

            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  DEL  |
            // |  TAB  |  Q  |  W  |  F   |  P   |  G   |                   |  J   |  L    |  U    |  Z   |   Ö   |   Ü   |
            // | CAPS  |  A  |  R  |  S   |  T   |  D   |                   |  H   |  N    |  E    |  I   |   O   |   Ä   |
            // | SHIFT |  Y  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  K   |  M    |  ,    |  .   |   /   | RCTRL |
            //               | CTRL| ALT  |SYMBLS| ENTER|  BKSPC |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp ESC     &mt F1 N1          &mt F2 N2          &mt F3 N3     &mt F4 N4                            &mt F5 N5                                  &mt F6 N6    &mt F7 N7                          &mt F8 N8       &mt F9 N9              &mt F10 N0              &kp DEL
&kp TAB     &kp DE_Q           &kp DE_W           &kp DE_F      &kp DE_P                             &kp DE_G                                   &kp DE_J     &kp DE_L                           &kp DE_U        &kp DE_Z               &kp DE_O_UMLAUT         &kp DE_U_UMLAUT
&caps_word  &kp DE_A           &kp DE_R           &kp DE_S      &kp DE_T                             &kp DE_D                                   &kp DE_H     &kp DE_N                           &kp DE_E        &kp DE_I               &kp DE_O                &lt 6 DE_A_UMLAUT
&kp LCTRL   &mt LEFT_WIN DE_Y  &mt LEFT_ALT DE_X  &kp DE_C      &kp DE_V                             &kp DE_B       &kp C_MUTE     &to 0        &kp DE_K     &kp DE_M                           &kp COMMA       &mt K_APPLICATION DOT  &mt RIGHT_ALT DE_MINUS  &kp RCTRL
                               &kp DOWN_ARROW     &kp UP_ARROW  &home_row_shift LEFT_SHIFT KP_ENTER  &kp BACKSPACE  &mo_tog 3 3    &mo_tog 2 2  &mo_tog 1 1  &home_row_shift RIGHT_SHIFT SPACE  &kp LEFT_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_DN C_VOL_UP>,
                <&inc_dec_kp PG_DN PG_UP>;
        };

        symbols {
            label = "symbols";

            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10  |  F11  |  F12  |
            // |       |  !  |  @  |  (   |  )   |  '   |                   |      |  \    |  ~    |   %   |       |       |
            // |       |  #  |  $  |  {   |  }   |  &   |                   |      |  ¨    |  °    |   ^   |       |       |
            // |       |  =  |  <  |  [   |  ]   |  ?   |        |  |       |      |  `    |  |    |   >   |       |       |
            //               |     |      |      |      |        |  |       |      |       |       |       |

            bindings = <
&kp F1  &kp F2        &kp F3       &kp F4       &kp F5       &kp F6                          &kp F7  &kp F8         &kp F9        &kp F10       &kp F11  &kp F12
&trans  &kp DE_EXCL   &kp DE_AT    &kp DE_LPAR  &kp DE_RPAR  &kp DE_APOS                     &trans  &kp DE_BSLH    &kp DE_TILDE  &kp DE_PRCNT  &trans   &trans
&trans  &kp DE_HASH   &kp DE_DLLR  &kp DE_LBRC  &kp DE_RBRC  &kp DE_AMPS                     &trans  &kp DE_UMLAUT  &kp DE_DEG    &kp DE_CARET  &trans   &to 0
&trans  &kp DE_EQUAL  &kp DE_LT    &kp DE_LBKT  &kp DE_RBKT  &kp DE_QMARK  &trans    &trans  &trans  &kp DE_GRAVE   &kp DE_PIPE   &kp DE_GT     &trans   &trans
                      &trans       &trans       &trans       &trans        &trans    &trans  &trans  &trans         &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        numpad {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp KP_NUMLOCK  &kp FSLH  &kp STAR  &kp MINUS  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp N7          &kp N8    &kp N9    &kp PLUS   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &kp N4          &kp N5    &kp N6    &kp RET    &to 0
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N1          &kp N2    &kp N3    &kp RET    &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N0          &kp N0    &kp DOT
            >;

            label = "numpad";
        };

        function {
            bindings = <
&trans  &trans  &trans      &trans    &trans           &trans                    &trans  &trans           &trans    &trans     &trans  &trans
&trans  &trans  &kp INSERT  &kp HOME  &kp PG_UP        &trans                    &trans  &kp INSERT       &kp HOME  &kp PG_UP  &trans  &trans
&trans  &trans  &kp DEL     &kp END   &kp PG_DN        &trans                    &trans  &kp DEL          &kp END   &kp PG_DN  &trans  &to 0
&trans  &trans  &trans      &kp UP    &kp PRINTSCREEN  &trans  &trans    &trans  &trans  &kp PRINTSCREEN  &kp UP    &trans     &trans  &trans
                &kp LEFT    &kp DOWN  &kp RIGHT        &trans  &trans    &trans  &trans  &kp LEFT         &kp DOWN  &kp RIGHT
            >;

            label = "function";
        };

        gaming {
            bindings = <
&kp ESC    &kp N1  &kp N2    &kp N3       &kp N4  &kp N5                             &kp N6     &kp N7  &kp N8     &kp N9   &kp N0           &trans
&kp TAB    &kp Q   &kp W     &kp E        &kp R   &kp T                              &kp Y      &kp U   &kp I      &kp O    &kp P            &kp DE_U_UMLAUT
&kp LSHFT  &kp A   &kp S     &kp D        &kp F   &kp G                              &kp H      &kp J   &kp K      &kp L    &kp DE_O_UMLAUT  &kp DE_A_UMLAUT
&kp LCTRL  &kp Z   &kp X     &kp C        &kp V   &kp B      &trans          &trans  &kp N      &kp M   &kp COMMA  &kp DOT  &trans           &trans
                   &kp LALT  &mo_tog 5 5  &trans  &kp SPACE  &kp CAPSLOCK    &trans  &kp ENTER  &trans  &trans     &trans
            >;

            label = "gaming";
        };

        gaming_f_keys {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans   &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;

            label = "gaming f keys";
        };

        LayerSW {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &to 7   &to 4   &to 2   &to 3   &trans  &to 0
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };

        settings {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &soft_off  &to 0
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans     &trans
                &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
